# Core data stack
pandas==2.2.2
numpy
scikit-learn
scipy
matplotlib
seaborn

# Web/data tools
requests
beautifulsoup4
lxml

# Streamlit App
streamlit
openpyxl
pyexcel
pyexcel-xls

# Airflow (optional if you're running DAGs)
apache-airflow

# FastAPI backend
fastapi==0.110.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
passlib[bcrypt]==1.7.4
python-jose==3.3.0
pydantic==2.7.0
