pandas
apache-airflow
numpy
scikit-learn
scipy
matplotlib
seaborn
requests
beautifulsoup4
lxml

fastapi==0.110.0
uvicorn[standard]==0.29.0
pandas==2.2.2
python-multipart==0.0.9
passlib[bcrypt]==1.7.4
python-jose==3.3.0
pydantic==2.7.0

streamlit

xlrd==1.2.0
openpyxl